/* Alert */
.ticketCenterSection .alert-warning {
  background-color: var(--alert-bg);
  border: 1px solid var(--alert-border);
  border-radius: 8px;
  font-size: var(--font-size14);
  color: #000;
  padding: 12px;
  margin-bottom: 12px;
}

.ticketCenterSection .alert-warning strong {
  font-weight: 600;
}

.ticketCenterSection .alert-dismissible .btn-close {
  padding: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 6px;
}

/* Search Criteria */
.searchCriteriaBox {
  margin-bottom: 12px;
}

/* Summary */
.summaryRed {
  color: #c54031 !important;
}

.summaryBlue {
  color: #00b6ef !important;
}

.summaryYellow {
  color: #e4b830 !important;
}

.summaryRow {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.summaryRow .summaryTableBox:first-child {
  width: 272px;
}

.summaryRow .summaryTableBox:nth-child(2) {
  width: 537px;
  margin-left: 6px;
}

.summaryRow .summaryTableBox:last-child {
  width: 495px;
  margin-left: 6px;
}

.summaryTableBox {
  background-color: var(--border-box-bg);
  border: 1px solid var(--color-border-default);
  border-radius: 8px;
  padding: 12px 0 12px 9px;
  margin-bottom: 12px;
}

.summaryTableBox .table {
  margin-top: 6px;
  margin-bottom: 0;
}

.summaryContentLeft thead th,
.summaryContentLeft tbody td,
.summaryContentCenter thead th,
.summaryContentCenter tbody td {
  font-weight: 400;
  font-size: var(--font-size10);
  color: #000;
  padding: 0;
  width: 25%;
  text-align: center;
}

.summaryContentLeft tbody td,
.summaryContentCenter tbody td {
  font-weight: 600;
  font-size: var(--font-size12);
  padding-top: 4px;
}

.summaryContentCenter thead th,
.summaryContentCenter tbody td {
  width: auto;
}

.tableContentBox .form-check {
  min-height: inherit;
  margin-bottom: 0;
}

.tableContentBox .form-check-input {
  margin-top: 0;
  margin-right: 12px;
}

.tableContentBox .form-check-input:checked {
  background-color: var(--color-primary-default);
  border-color: var(--color-primary-default);
}

.circleNo {
  border-bottom: 12px dotted #e4b830;
  width: 12px;
  height: 12px;
  margin-right: 9px;
}

.ticketIdBox {
  width: 21px;
  height: 21px;
  border-radius: 4px;
  background-color: rgba(16, 157, 74, 0.1);
  font-weight: 700;
  font-size: var(--font-size12);
  color: #109d49;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.atmIdBox {
  width: 21px;
  height: 21px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 10%);
  font-weight: 700;
  font-size: var(--font-size12);
  color: #000;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callTypeBox {
  color: #c54031 !important;
}

.editYellowBox {
  background: #fff9d7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

.addToWorkList {
  width: 175px;
  margin-left: 6px;
}

.ticketCentreTableHeader .btnPrimary,
.ticketCentreTableHeader .btnPrimaryOutline {
  width: 70px;
}

.lightPinkNestedTable {
  background-color: var(--color-secondary-light-defaut) !important;
}

.closeNestedTableButton {
  width: 12px;
  height: 12px;
  background-color: #e4b830;
  border-radius: 50px;
  margin-left: 9px;
}

.icon-Icon-2 {
  color: #fff !important;
}

.OpenNestedTableButton {
  width: 12px;
  height: 12px;
  background-color: #109d49;
  border-radius: 50px;
  margin-left: 9px;
}

.icon-Action-Icons:before {
  color: #fff !important;
}

.circleNoTwo {
  border-color: #c54031;
}

.circleNoThree {
  border-color: #424f66;
}

.circleNoFour {
  border-color: #e933a7;
}

.circleNoFive {
  border-color: #109D49;
}

.circleNoSix {
  border-color: #00B6EF;
}

.circleNoSeven {
  border-color: #C54031;
  color: #fff;
}




/* CSS By Anurag */

.tableToggle {
  width: 12px;
  height: 12px;
  background-color: #109d49;
  border-radius: 50px;
  margin-left: 9px;
}


.tableToggle .icon-Icon-2:before {
  content: "\e900";
  color: #fff;
}

.tableToggle.tableToggle-active {
  background-color: #e4b830;
}


.tableToggle.tableToggle-active .icon-Icon-2:before {
  content: "\e91c";
  color: #fff;
}



/* CSS By Anurag */


.form-Steps {
  display: flex;
  align-items: center;
  height: 24px;
  margin-bottom: 25px;
  width: 91%;
}

.form-step.active .barText{
  color: var(--color-primary-default);
}
.form-step.active .flowcircleSvg rect{
  fill: var(--color-primary-default);
}
.form-step.active .formbar{
  background: var(--color-primary-default);
}


.formbar-type {
  width: 100%;
  height: 2px;
  background: #D5D9E0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.formbar-type-2 {
  width: 100%;
  height: 2px;
  background: #D5D9E0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-end;
}

.formbar-type-3 {
  width: 100%;
  height: 2px;
  background: #D5D9E0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.formFlow-text {
  position: absolute;
  bottom: -28px;
  font-size: var(--font-size14);
  font-weight: var(--font-weight-500);
  transform: translateX(50%);
}

.formFlow-text-1 {
  position: absolute;
  bottom: -25px;
  /* left: -50%; */
  transform: translateX(-40%);
  font-size: var(--font-size14);
  font-weight: var(--font-weight-500);
}

.formFlow-text-2 {
  position: absolute;
  bottom: -28px;
  transform: translateX(50%);
  font-size: var(--font-size14);
  font-weight: var(--font-weight-500);
}


.formFlow-text-1.active{
  color: var(--color-primary-default);
}



/* checkbox css */

.tableBorderBox .form-check-input:checked {
  background-color: var(--color-primary-default);
  border-color: var(--color-primary-default);
}


/* grid col padding 6px */

.formflow .col-12{
      padding: 0 6px;
}
.formflow .col-3,.formflow .col-md-3{
      padding: 0 6px;
}

.formflow .col-4,.formflow .col-md-4{
      padding: 0 6px;
}

.formflow .col,.formflow .col-md{
      padding: 0 6px;
}

.formflow .col-lg,.formflow .col-sm-3 {
  padding: 0 6px;
}

.formflow .col,
.formflow .col-md {
  padding: 0 6px;
}

.formflow .col-sm-4,
.formflow .col-lg-3 {
  padding: 0 6px;
}

.textAreaBox {
  background-color: var(--border-box-bg);
  border: 1px solid var(--color-border-default);
  height: 64px;
  padding: 12px;
  font-family: Inter;
  font-size: var(--font-size14);
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--color-black);
  border-radius: 4px;
}


.formExtraField{
  display: none;
}
.formExtraField.active{
  display: block;
}



.configSelectBoxTop2 .clientNameSelect {
  margin-bottom: 12px;
}

.identificationContainer .configSelectBoxTop {
  margin-top: 10px;
}






.btnsBtmMobile{
  margin-top: 6px !important;
  margin-bottom: 18px !important;
}

/* .row-week
.col{
  width: 10%;
  flex: inherit;
} */

.row-week .col{
  width: 94px;
  margin-right: 20px;
}


.form-check{
  min-height: inherit;
}

.gst-check{
  padding-bottom: 8px;
}

.flowcircle1Svg{
  margin-left: -2px;
}


/* Responsive */
@media(max-width:768px) {
  .form-Steps {
    width: 85%;
  }

}

@media(max-width:375px) {

  .availBalance {
    display: none !important;
  }

  .barText {
    display: none;
  }

  .form-Steps {
    margin-bottom: 12px;
  }

  .btnsBtmMobile {
    display: flex;
    flex-direction: column-reverse;
  }

  .btnsBtmMobile button {
    margin: 0 !important;
    width: 100% !important;
    margin-bottom: 12px !important;
  }

  .form-Steps {
    width: 95%;
  }

  .extra-form-hr {
    display: none;
  }

  .xtraFormBottomMargin {
    margin-bottom: 0px !important;
  }

  .btnsBtmMobile {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
  }

}


@media(max-width:425px){
    .barText {
        display: none;
      }
            .row-week .col {
              width: 90px;
              margin-right: 20px;
            }
}