.cursorPointer {
    cursor: pointer;
}

.unmatchedContainer {
    padding: 0 12px 12px;
}

.breadcrumbHeading {
    height: 34px;
}

.unmatchedContainer .tableBorderBox .table {
    width: 100%;
}

.unmatchedContainer .configLeftBottom {
    margin-top: 12px;
}

.unmatchedContainer .configSelectBoxTop {
    margin-top: 0;
}

/* Accordion */
.unmatchedContainer .accordion-item {
    border-radius: 8px;
    background-color: var(--color-light-blue);
    border: 1px solid var(--color-border-default);
}

.unmatchedContainer .accordion-header {
    padding: 12px 12px;
}

.unmatchedContainer .accordion-header .allFiltersBtn {
    width: 88px;
}

.unmatchedContainer .accordion-body {
    padding: 0 12px;
}

.unmatchedContainer .usmTop .accordion-body .configSelectBoxTop .col {
    padding: 0 6px;
    width: 25%;
    flex: inherit;
    margin-top: 8px;
}

@media (max-width: 768px) {
    .unmatchedContainer {
        padding-bottom: 0;
    }

    .unmatchedContainer .accordion-body .configSelectBoxTop .col {
        width: 33%;
    }
}

@media (max-width: 425px) {
    .breadcrumbHeading {
        flex-direction: column-reverse;
        align-items: flex-start !important;
        margin: 12px 0;
    }

    .unmatchedContainer .has-search .form-control {
        width: 98%;
    }

    .unmatchedContainer .usmTop .accordion-body .configSelectBoxTop .col {
        width: 100%;
    }
}

/* Table Modal */
.unmatchedTableModal .modal-dialog {
    max-width: 1060px;
}

.unmatchedTableModal .modal-content {
    width: 100%;
}

.unmatchedTableModal .modal-body {
    padding: 0 12px 16px;
}

.unmatchedTableModal .unmatchedModalHeading {
    margin: 16px 0 8px;
}

.unmatchedTableModal .table {
    --bs-table-striped-bg: var(--border-box-bg);
    --bs-table-striped-color: var(--color-black);
    --bs-table-hover-bg: var(--table-hover-color);
    --bs-table-hover-color: var(--color-black);
    width: 100%;
    margin-bottom: 0;
}

.unmatchedTableModal .table tbody {
    --bs-table-bg: var(--border-box-bg);
    --bs-table-accent-bg: var(--border-box-bg);
}

.unmatchedTableModal .table thead tr th {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size14);
    background-color: var(--color-secondary-light-defaut);
    color: var(--color-black);
    height: 32px;
    padding: 0;
    padding-left: 14px;
    vertical-align: middle;
    text-align: center;
}

.unmatchedTableModal .table thead tr th:first-child {
    border-top-left-radius: 4px;
}

.unmatchedTableModal .table thead tr th:last-child {
    border-top-right-radius: 4px;
}

.unmatchedTableModal .table tbody tr td:first-child {
    border-bottom-left-radius: 4px;
}

.unmatchedTableModal .table tbody tr td:last-child {
    border-bottom-right-radius: 4px;
}

.unmatchedTableModal .table tbody tr td {
    font-size: var(--font-size14);
    height: 34px;
    padding: 0;
    padding-left: 14px;
    text-align: center;
}

@media (max-width: 768px) {
    .unmatchedTableModal .modal-dialog {
        max-width: 95%;
    }

    .unmatchedTableModal .table {
        width: 1012px;
    }
}

.editBox,
.deleteBox {
    background-color: #fff9d7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 24px;
    height: 24px;
}

.deleteBox {
    background-color: #fbd2ce;
    margin-left: 12px;
}

.cancelDeleteBtns {
    margin: 18px 0;
}

.cancelDeleteBtns .btnPrimary {
    background-color: #c54031;
}

.cancelDeleteBtns .btnPrimary:hover {
    background-color: #c54031;
}

.cancelDeleteBtns .btnPrimaryOutline:hover,
.usmTop .btnPrimaryOutline:hover {
    background-color: var(--border-box-bg);
}

.usmNote {
    width: 555px;
    margin: 0 auto 18px;
}

@media (max-width: 768px) {
    .usmNote {
        width: 100%;
        text-align: left !important;
    }

    .usmNote p:last-child {
        margin-left: 4px;
    }
}

.usmFormCheck {
    margin-bottom: 0;
    min-height: inherit;
}

.usmFormCheck .form-check-label {
    font-size: var(--font-size14);
    letter-spacing: 0.02em;
    color: var(--color-black);
    font-weight: 400;
}

.checkBoxStyle {
    margin: 18px 0 !important;
}

.checkBoxStyle .col {
    margin-top: 2px;
}

.modalWidthFix .modal-dialog {
    max-width: 400px;
}


/* added by a */

.identificationContainer .agentRegistrationBox {
    border-radius: 8px;
    background-color: var(--color-light-blue);
    border: 1px solid var(--color-border-default);
}

.tableContentBox .table-initial-width {
    width: 100%;
}


.identificationContainer .agentRegBtn {
    width: 100px !important;
}

.agentRegBtn:not(:last-child) {
    margin-right: 12px;
}


/* New Css By A */

/* attachment Modal */

.attachmentModal.bulkAttachment .modal-dialog {
    width: 571px;
}

.unmatchedTableModal .modal-dialog {
    max-width: 820px;
}

.unmatchedTableModal .modal-body {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.attachmentModal.bulkAttachment .modal-body {
    padding: 0 12px;
    background-color: var(--background-white);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.attachmentUploadBox {
    width: 100%;
    height: 120px;
    background-color: var(--color-light-blue);
    border: 1px dashed var(--color-primary-default);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.attachmentText1 {
    font-size: var(--font-size16);
    color: var(--drop-file-color);
}

.attachmentText2 {
    font-size: var(--font-size16);
    color: var(--color-primary-default);
    cursor: pointer;
}

.beforeAttachmentUpload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.attachmentUploaded {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 445px;
    height: 60px;
    background: var(--color-background-default);
    border: 1px solid var(--color-border-default);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
}


.feedbackRequestModal .modal-dialog {
    width: 400px;
}

.uploadedDataText {
    font-size: var(--font-size16);
    color: var(--color-black);
}


.attachmentUploadBox.active {
    border: none;
}

.attachmentUploadBox .beforeAttachmentUpload {
    display: flex;
}

.attachmentUploadBox .afterAttachmentUpload {
    display: none;
}

.attachmentUploadBox.active .beforeAttachmentUpload {
    display: none;
}

.attachmentUploadBox.active .afterAttachmentUpload {
    display: block;
}


.bulkAttachmentBox {
    margin: 18px;
}

.bulkAttachmentBtn {
    margin-bottom: 30px;
}


/* Apes Transaction */
.borderBoxSideway {
    padding-right: 12px;
}

.aepsHeading {
    height: 32px;
    background-color: var(--color-light-blue);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px 7px 0px 0px;
    font-size: var(--font-size14);
    font-weight: var(--font-weight-600);
}


.tableBorderBox.tableBorderBox-2 {
    background-color: var(--border-box-bg);
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
    padding: 0px;
    min-height: 500px;
}

.tableContentBox.aepsTableContentBox {
    max-height: 367px;
    overflow-y: scroll;
}

.aepsBox {
    padding: 0 12px;
    margin: 0 auto;
}

.row-transaction .col {
    width: 140px !important;
    
}
.row-transaction {
    margin-left: -7px;
    
}

.apesAgreeCheck{
    margin-left: 7px;
}

.aepsBalanceEnquiryBtns {
    margin-top: 18px;
    margin-bottom: 24px;
}



@media(max-width:768px) {
    .tableContentBox .table-initial-width {
        width: 1000px;
    }

    .attachmentModal.bulkAttachment .modal-dialog {
        width: 700px;
    }

    .aepsTabBox {
        width: 450px;
    }

    .tableContentBox .table-initial-width.aeps-table {
        width: 100%;
    }

    .borderBoxSideway {
        padding-right: 0px;
    }

    .aepsRecentTransactionBox{
        margin-top: 12px;
    }

}

@media(max-width:375px) {
    .tableContentBox .table-initial-width {
        width: 1000px;
    }

    .attachmentModal.bulkAttachment .modal-dialog {
        width: 93vw;
        margin: 0 auto;
    }

    .bulkAttachmentBox {
        margin: 18px 0;
    }


}


@media(max-width:425px) {
    .aepsTabBox {
        width: 100%;
    }

                .tableContentBox .table-initial-width.aeps-table {
                    width: 500px;
                }
}