.identificationContainer {
  padding: 0 12px 12px;
}
.breadcrumbHeading {
  height: 34px;
}
.identificationContainer .configLeftBottom {
  margin-top: 12px;
}
.identificationContainer .configSelectBoxTop {
  margin-top: 6px;
  margin-bottom: 12px;
}

/* Accordion */
.identificationContainer .accordion-item {
  border-radius: 8px;
  background-color: var(--color-light-blue);
  border: 1px solid var(--color-border-default);
}
.identificationContainer .accordion-header {
  padding: 12px;
}
.identificationContainer .accordion-header .allFiltersBtn {
  width: 88px;
}
.identificationContainer .accordion-body {
  padding: 0 12px;
}
.identificationContainer .accordion-body .configSelectBoxTop .col {
  padding: 0 6px;
  width: 25%;
  flex: inherit;
  margin-top: 8px;
}
@media (max-width: 768px) {
  .identificationContainer {
    padding-bottom: 0;
  }
  .identificationContainer .accordion-body .configSelectBoxTop .col {
    width: 33.33%;
  }
}
@media (max-width: 425px) {
  .breadcrumbHeading {
    flex-direction: column-reverse;
    align-items: flex-start !important;
    margin: 12px 0;
  }
  .identificationContainer .accordion-body .configSelectBoxTop .col {
    width: 100%;
  }
}

/* Bottom Content */
.identificationContainer .configLeftBottom .configSelectBoxTop {
  margin-top: 0;
  margin-bottom: 0;
}
.identificationContainer .configLeftBottom .configSelectBoxTop .col {
  padding: 0 6px;
  width: 25%;
  flex: inherit;
  margin-top: 12px;
}
.identificationContainer .configLeftBottom .btnsBtm {
  margin: 16px 0;
}
@media (max-width: 768px) {
  .identificationContainer .configLeftBottom .configSelectBoxTop .col {
    width: 33.33%;
  }
}
@media (max-width: 425px) {
  .identificationContainer .configLeftBottom .configSelectBoxTop .col {
    width: 100%;
  }
}

/* Input Text Box */
.inputTextBox {
  display: block;
  width: 100%;
  background-color: var(--border-box-bg);
  border: 1px solid var(--color-border-default);
  height: 32px;
  border-radius: 4px;
  padding-left: 12px;
  font-family: "Inter";
  font-size: var(--font-size14);
  letter-spacing: 0.02em;
}
.disabledInput {
  background-color: var(--color-disabled);
}
.disabledInput::placeholder {
  color: var(--color-black);
}
